.body {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: white;
}

.container1, .container2, .container3, .finished {
    position: absolute;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 200px;
    height: 50px;
    background-color: lightblue;
}

.click1, .click2, .click3, .start-over {
    background-color: inherit;
    border-radius: 5px;
    border: .5px solid black;
    font-family: 'Courier New', Courier, monospace;
}

.click1:hover {
    background-color: rgb(119, 219, 252);
}

.click2:hover {
    background-color: rgb(85, 251, 85);
}

.click3:hover {
    background-color: rgb(255, 255, 102);
}

.start-over:hover {
    background-color: rgb(236, 59, 59);
}

.container2 {
    width: 225px;
    height: 125px;
    background-color: lightgreen;
}

.container2 h1, .container3 h1 {
    font-size: 1em;
    margin: 0;
    align-content: center;
}

.container2 h2, .container3 h2 {
    font-size: 0.75em;
    margin: 0;
}

.container3 {
    width: 325px;
    height: 125px;
    background-color: lightyellow;
}


.finished {
    width: 550px;
    height: 475px;
    background-color: lightcoral;
    top: 7.5%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    margin-left: 50%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    left: .1rem;
    bottom: .125rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.05rem);
    -ms-transform: translateX(1.05rem);
    transform: translateX(1.05rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .theme-label {
    font-size: 1rem;
  }

 .dark-light-mode {
    position: absolute;
    top: 5%;
    right: 5%;
 }

 .miss1, .miss2, .miss3, .miss4, .miss5, .miss6, .miss7, .miss8 {
    position: absolute;
    font-size: 1.5rem;
 }